body {
    background-color: rgb(28, 29, 30);
    padding: 10px;
    border: 2px solid white;
    margin: 5px;
}

#title {
    font-weight: 300;
}

#title, .prititle {
    color: white;
}

.zerox, .doisx, .llink {
    padding-top: 5px;
    font-size: large;
}
